 p {
    font-family: arial, Helvetica, sans-serif;
    color: aqua;
  }

  #titulo-principal {
    color: blue;
  }

  .destaque {
    background-color: yellow;
  }

  .importante {
    color: red;
  }

   input[type="text"]{
    border: 2px solid blue;
  }

  button:hover{
    background-color: brown;
  }

 .container > div > p {
    color: green; 
}

p::first-letter {
    font-size: 40px;
}
